<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" , height=device-height">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" type="image/webp" href="../static/websitepfp.webp">
    <title>Home Page</title>
</head>

<body class="container" style="overflow: visible">
    <div class="homediv">
        <h1>Welcome to the Ticker Information App</h1>
        <p>This app allows you to get detailed information about financial tickers.</p>
        <nav>
            <a id="link" href="/get_ticker">Get Crypto Information</a>
        </nav>
        <nav>
            <br>
            <a id="link" href="/btc_data_graph">Get BTC Graph</a>
        </nav>
    </div>
</body>

</html>